{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<!-- add channel -->
<section class="bg-dark vh-100">
    <h3 class="text--platinum ps-3 pt-4">Request a channel</h3>
    <p class="text-light ms-3 mt-2">Only approved channels will be listed</p>
    <!-- add channel form -->
    <div class="d-flex justify-content-center pb-5">
        <form method="POST" class="col-8 text-light">
            {{ add_channel_form | crispy }}
            {% csrf_token %}
            <button id="submit-channel" type="submit" class="btn btn-lg bg--light text-light p--shadow float-end"
                aria-label="Submit channel">Submit</button>
        </form>
    </div>
</section>
{% endblock content %}

{% block extras %}
{% endblock %}