{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!-- channel detail -->
{% if not user.is_authenticated %}
<a href="{% url 'account_login' %}" class="btn bg-warning m-4 mb-0 shadow">Log in to add a post</a>
{% endif %}
{% if post_count == 0 %}
<p class="mt-3 ms-4">There are no posts on this channel</p>
<div class="d-flex justify-content-center m-4">
    <img class="img-fluid rounded" src="{% static 'images/posts/no-posts.jpg' %}" alt="No posts">
</div>
{% else %}
{% for post in posts %}
<section class="d-flex justify-content-center">
    <!-- code from https://getbootstrap.com/docs/5.3/components/card/ -->
    <div class="card border-0 m-4" style="width: 60rem;">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h4 class="card-title">@{{ post.author }}</h4>
                <div>{{ post.created_on | date:"H:i d/m/Y" }}</div>
            </div>
            <div id="post{{ post.id }}" class="card-text">
                {{ post.content }}
            </div>
        </div>
        {% if "placeholder" in post.featured_image.url %}
        <img src="{% static 'images/posts/btc-default.jpg' %}" class="card-img-bottom rounded-2" alt="BTC Default">
        {% else %}
        <img src=" {{ post.featured_image.url }}" class="card-img-top rounded-2" alt="{{ channel.name }}">
        {% endif %}
        <div class="d-flex justify-content-evenly">
            <!-- https://github.com/Code-Institute-Solutions/Django3blog/blob/master/10_likes/blog/views.py -->
            <div class="align-self-center">
                <!-- The number of likes goes before the closing strong tag -->
                <span class="text-secondary">{{ post.number_of_likes }} </span>
                {% if user.is_authenticated %}
                <form class="d-inline" action="{% url 'post_like' post.channel.slug post.id %}" method="POST">
                    {% csrf_token %}
                    {% if post.liked %}
                    <button type="submit" value="{{ post.id }}" class="btn fa-solid fa-heart"></button>
                    {% else %}
                    <button type="submit" value="{{ post.id }}" class="btn fa-regular fa-heart"></button>
                    {% endif %}
                </form>
                {% else %}
                <span class="text-secondary"><i class="fa-regular fa-heart"></i></span>
                {% endif %}
            </div>
            <a href="{% url 'post_detail' post.channel.slug post.id %}" class="btn btn-comment">
                {{ post.comment_count }} <i class="fa-solid fa-comments"></i></a>
            <!-- delete and edit post buttons  -->
            {% if post.author == user %}
            <!-- fa-solid fa-trash-can btn -->
             <!-- fa-solid fa-pen-to-square btn -->
            <button class="btn-delete" data-post_id="{{ post.id }}" aria-label="Delete post">Delete</button>
            <button type="button" class="btn-edit" data-bs-toggle="modal"
                data-bs-target="#post-model" data-post_id="{{ post.id }}" aria-label="Edit post">Edit</button>
            {% endif %}
        </div>
    </div>
</section>
{% if not forloop.last %}
<hr>
{% endif %}
{% endfor %}
{% endif %}
{% if user.is_authenticated %}
<!-- code from https://getbootstrap.com/docs/5.3/components/modal/ -->
<!-- post button trigger modal -->
<button id="the-post-button" type="button"
    class="position-absolute bottom-0 end-0 m-3 btn bg--medium text--platinum btn-lg fs-2 rounded shadow-lg cc--hover"
    data-bs-toggle="modal" data-bs-target="#post-model">
    <i class="fa-solid fa-pen"></i>
</button>
{% endif %}

<!-- post and edit modal -->
<div class="modal fade" id="post-model" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="post-modal-label">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5 text-capitalize" id="post-modal-label"><span id="edit-post-title"></span>
                    {{ channel.name }} Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"  aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <form id="post-form" method="POST" enctype="multipart/form-data">
                    {{ post_form | crispy }}
                    {% csrf_token %}
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-lg bg--medium shadow text-light cc--hover"
                            data-bs-dismiss="modal">Cancel</button>
                        <button id="post-submit-button" type="submit"
                            class="btn btn-lg bg--medium shadow text-light cc--hover">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- post delete modal -->
<div class="modal fade" id="post-delete-modal" tabindex="-1" aria-labelledby="delete-post-label">
    <div class="modal-dialog" inert>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-post-label">Delete post?</h5>
                <button type="button" data-bs-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="delete-modal-body">
                Are you sure you want to delete your post?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg--medium text-light cc--hover"
                    data-bs-dismiss="modal" aria-label="Post delete cancel">Cancel</button>
                <a id="post-delete-model-confirm" href="#" class="btn
          btn-danger" aria-label="Post delete confirm">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extras %}
<script src="{% static 'js/posts.js' %}"></script>
{% endblock %}