{% extends "base.html" %}
{% load static %}
{% block content %}
<header class="bg-dark">
    <h2 class="text-secondary text-center text-decoration-underline fs-1 pt-5 mb-0">Crypto Net <i class="fa-solid fa-chart-line"></i></h2>
</header>
<div class="d-flex flex-column justify-content-center align-middle vh-100 bg-dark">
    <div class="d-flex justify-content-center m-4">
        <img class="img-fluid rounded" src="{% static 'images/index/crypto-net-index.jpg' %}" alt="">
    </div>
</div>
{% endblock %}