{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<div class="bg-dark vh-100">
    <a class="position-absolute text-secondary fs-2 ms-2 text-decoration-none" href="{% url 'home' %}" class="btn"><i
            class="fa-solid fa-circle-arrow-left"></i></a>
    <a class="text-secondary" href="{% url 'home' %}">
        <h2 class="text-center pt-2">Crypto Net <i class="fa-solid fa-chart-line"></i></h2>
    </a>
    <!-- Contact form -->
    <div class="d-flex justify-content-center mt-5">
        <form method="POST" class="col-8 text-light">
            {{ profile_form | crispy }}
            {% csrf_token %}
            <a href="{% url 'profile' %}" class="btn btn-lg bg--light text-light p--shadow">Cancel</a>
            <button type="submit" class="btn btn-lg bg--light text-light p--shadow float-end">Save</button>
        </form>
    </div>
</div>
{% endblock content %}

{% block extras %}
{% endblock %}