{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<!-- edit profile -->
<section class="bg-dark vh-100">
    <header class="d-flex justify-content-around">
        <h3 class="text--platinum ms-3 mt-5 mb-0">Edit User Information:</h3>
        <!-- delete user button -->
        <button type="button" class="btn btn-modal btn-delete text-light bg-danger align-self-end me-3"
            data-user_id="{{ user.id }}" aria-label="Delete user">Delete</button>
    </header>
    <!-- profile form -->
    <div class="d-flex justify-content-center mt-4 pb-5">
        <form method="POST" class="col-8 text-light" enctype="multipart/form-data">
            {{ profile_form | crispy }}
            {% csrf_token %}
            <a href="{% url 'profile_account' %}" class="btn btn-lg bg--light text-light p--shadow"
                aria-label="Cancel">Cancel</a>
            <button type="submit" class="btn btn-lg bg--light text-light p--shadow float-end"
                aria-label="Save profile">Save</button>
        </form>
    </div>
</section>
{% endblock content %}

{% block extras %}
<script src="{% static 'js/user.js' %}"></script>
{% endblock %}