{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- profile detail -->
<section class="bg-dark vh-100">
    <h4 class="text--platinum ms-3 mt-5">User Information:</h4>
    <div class="d-flex flex-column text-light p-4">
        <fieldset class="ms-5">
            <legend>Username:</legend>
            <div>@{{ user }}</div>
        </fieldset>
        <hr>
        <fieldset class="ms-5">
            <legend>Phone:</legend>
            <div>{{ profile.phone_number }}</div>
        </fieldset>
        <hr>
        <fieldset class="ms-5">
            <legend>Post code:</legend>
            {% if profile.post_code %}
            <div>{{ profile.post_code | upper }}</div>
            {% else %}
            <div>{{ profile.post_code }}</div>
            {% endif %}
        </fieldset>
        <hr>
        <fieldset class="ms-5">
            <legend>Country:</legend>
            <div>{{ profile.country }}</div>
        </fieldset>
        <div class="d-flex justify-content-end me-5">
            <a href="{% url 'edit_profile' %}" class="btn btn-lg bg--light text-light p--shadow">Edit</a>
        </div>
    </div>
</section>
{% endblock content %}

{% block extras %}
{% endblock %}