{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- profile detail -->
<section class="bg-dark vh-100">
    <h3 class="text--platinum ms-3 mt-5">User Information:</h3>
    <div class="d-flex flex-column text-light p-4">
        <!-- profile image -->
        <figure class="ms-5 mb-0">
            <figcaption class="fs-3 mb-2">Image:</figcaption>
            {% if "placeholder" in profile.profile_image.url %}
            <img src="{% static 'images/profile/default-profile.jpg' %}" class="profile-detail-pic rounded" width="100"
                height="100" alt="Default profile">
            {% else %}
            <img src="https://res.cloudinary.com/dpwhdmvce/image/upload/v1737560480/{{ profile.profile_image }}.webp"
                class="profile-detail-pic rounded" width="100" height="100" alt="{{ user }} image">
            {% endif %}
        </figure>
        <hr>
        <!-- username -->
        <fieldset class="ms-5">
            <legend>Username:</legend>
            <div>@{{ user }}</div>
        </fieldset>
        <hr>
        <!-- phone -->
        <fieldset class="ms-5">
            <legend>Phone:</legend>
            <div>{{ profile.phone_number }}</div>
        </fieldset>
        <hr>
        <!-- post code -->
        <fieldset class="ms-5">
            <legend>Post code:</legend>
            {% if profile.post_code %}
            <div>{{ profile.post_code | upper }}</div>
            {% else %}
            <div>{{ profile.post_code }}</div>
            {% endif %}
        </fieldset>
        <hr>
        <!-- country -->
        <fieldset class="ms-5">
            <legend>Country:</legend>
            {% if profile.country %}
            <div>{{ profile.country }}</div>
            {% else %}
            <p>Anonymous</p>
            {% endif %}
        </fieldset>
        <hr>
        <!-- bio -->
        <fieldset class="ms-5">
            <legend>Bio:</legend>
            <div>{{ profile.bio }}</div>
        </fieldset>
        <div class="d-flex justify-content-end me-5">
            <a href="{% url 'edit_profile' %}" class="btn btn-lg bg--light text-light p--shadow"
                aria-label="Edit profile">Edit</a>
        </div>
    </div>
</section>
{% endblock content %}

{% block extras %}
{% endblock %}