{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- profile detail -->
<section class="bg-dark">
    <h3 class="text--platinum pt-3 ps-4 mb-0">Profile:</h3>
    <div class="d-flex flex-column text-light p-4">
        <!-- profile image -->
        <figure class="d-flex">
            {% if "placeholder" in profile.profile_image.url %}
            <img src="{% static 'images/profile/default-profile.jpg' %}" class="profile-pic" width="100px"
                height="100px" alt="Default profile">
            {% else %}
            <img src="https://res.cloudinary.com/dpwhdmvce/image/upload/v1737560480/{{ profile.profile_image }}.webp"
                class="profile-pic" width="100px" height="100px" alt="{{ profile_detail.username }} image">
            {% endif %}
            <div class="align-self-end">@{{ profile_detail.username }}</div>
        </figure>
        <!-- country -->
        <fieldset class="d-flex">
            <legend>Location:</legend>
            <div>{{ profile.country }}</div>
        </fieldset>
    </div>
</section>
<!-- user profile posts -->
{% for post in posts %}
{% if post.author == profile_detail %}
<section class="d-flex justify-content-center">
    <!-- code from https://getbootstrap.com/docs/5.3/components/card/ -->
    <div class="card border-0 m-4">
        <div class="card-body">
            <!-- post header -->
            <header class="d-flex justify-content-between">
                <a href="{% url 'profile_detail' post.author %}">{{ post.author }}</a>
                <h4 class="card-title">@{{ post.author }}</h4>
                <div>{{ post.created_on | date:"H:i d/m/Y" }}</div>
            </header>
            <!-- post content -->
            {% if post.author.is_staff %}
            <div id="post{{ post.id }}" class="card-text">
                {{ post.content | safe }}
            </div>
            {% else %}
            <div id="post{{ post.id }}" class="card-text">
                {{ post.content | linebreaks }}
            </div>
            {% endif %}
        </div>
        <!-- post image -->
        {% if "placeholder" in post.featured_image.url %}
        <img src="{% static 'images/posts/cn-btc.jpg' %}" class="card-img-bottom rounded" width="500px" height="500px"
            alt="Crypto Net BTC">
        {% else %}
        <img src="https://res.cloudinary.com/dpwhdmvce/image/upload/v1737560480/{{ post.featured_image }}.webp"
            class="card-img-bottom rounded" width="500px" height="500px" alt="{{ post.author }} image">
        {% endif %}
        <div class="d-flex justify-content-evenly">
            <!-- view to comments -->
            <div class="align-self-center">
                <a href="{% url 'post_detail' post.channel.slug post.id %}" class="btn btn-comment"
                    aria-label="View post comments">
                    {{ post.comment_count }} <i class="fa-solid fa-comments"></i></a>
            </div>
            <!-- https://github.com/Code-Institute-Solutions/Django3blog/blob/master/10_likes/blog/views.py -->
            <!-- The number of likes goes before the closing strong tag -->
            <div class="align-self-center">
                <span>{{ post.number_of_likes }} </span>
                {% if user.is_authenticated %}
                <form class="d-inline" action="{% url 'post_like' post.channel.slug post.id %}" method="POST">
                    {% csrf_token %}
                    {% if post.liked %}
                    <button type="submit" value="{{ post.id }}" class="btn" aria-label="Unlike post">
                        <i class="fa-solid fa-heart"></i>
                    </button>
                    {% else %}
                    <button type="submit" value="{{ post.id }}" class="btn" aria-label="Like post">
                        <i class="fa-regular fa-heart"></i>
                    </button>
                    {% endif %}
                </form>
                {% else %}
                <span class="text-secondary"><i class="fa-regular fa-heart"></i></span>
                {% endif %}
            </div>
            <!-- delete and edit post buttons  -->
            {% if post.author == user %}
            <!-- delete post -->
            <button type="button" class="btn btn-modal btn-delete p-0 m-0" data-post_id="{{ post.id }}"
                aria-label="Delete post">
                <i class="fa-solid fa-trash-can p-3"></i>
            </button>
            <!-- edit post -->
            <button type="button" class="btn btn-edit p-0 m-0" data-bs-toggle="modal" data-bs-target="#post-model"
                data-post_id="{{ post.id }}" aria-label="Edit post">
                <i class="fa-solid fa-pen-to-square p-3"></i>
            </button>
            {% endif %}
        </div>
    </div>
</section>
{% if not forloop.last %}
<hr>
{% endif %}
{% endif %}
{% endfor %}
{% endblock content %}

{% block extras %}
{% endblock %}