{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- profile detail -->
<section class="bg-dark shadow">
    <div class="d-flex flex-column text-light p-4 pb-2">
        <!-- profile image -->
        <figure class="d-flex">
            {% if "placeholder" in profile.profile_image.url %}
            <img src="{% static 'images/profile/default-profile.jpg' %}" class="profile-detail-pic rounded"
                width="100" height="100" alt="Default profile">
            {% else %}
            <img src="https://res.cloudinary.com/dpwhdmvce/image/upload/v1737560480/{{ profile.profile_image }}.webp"
                class="profile-detail-pic rounded" width="100" height="100"
                alt="{{ profile_detail.username }} image">
            {% endif %}
            <h3 class="align-self-end mb-0">@{{ profile_detail.username }}</h3>
        </figure>
        <fieldset>
            <div class="ps-4">{{ profile.bio | default_if_none:"Bio..." }}</div>
        </fieldset>
        <hr class="m-2">
        <!-- country -->
        <div class="d-flex justify-content-between">
            {% if profile.country %}
            <div><i class="fa-solid fa-globe"></i> {{ profile.country }}</div>
            {% else %}
            <div><i class="fa-solid fa-globe"></i> Anonymous</div>
            {% endif %}
            <div><i class="fa-regular fa-calendar-days"></i> Joined: {{ profile_detail.date_joined | date:"d/m/Y" }}
            </div>
        </div>
    </div>
</section>
<!-- user profile posts -->
{% for post in posts %}
{% if post.author == profile_detail %}
<section class="d-flex justify-content-center">
    <!-- code from https://getbootstrap.com/docs/5.3/components/card/ -->
    <div class="card border-0 m-4">
        <div class="card-body ps-0">
            <!-- post header -->
            <header class="d-flex justify-content-between">
                <div class="d-flex">
                    <!-- profile image -->
                    <figure>
                        {% if "placeholder" in profile.profile_image.url %}
                        <img src="{% static 'images/profile/default-profile.jpg' %}" class="profile-pic rounded"
                            width="100" height="100" alt="Default profile">
                        {% else %}
                        <img src="https://res.cloudinary.com/dpwhdmvce/image/upload/v1737560480/{{ profile.profile_image }}.webp"
                            class="profile-pic rounded" width="100" height="100" alt="{{ post.author }} image">
                        {% endif %}
                    </figure>
                    <h4 class="card-title align-self-end mb-3">@{{ post.author }}</h4>
                </div>
                <div>{{ post.created_on | date:"H:i d/m/Y" }}</div>
            </header>
            <!-- post content -->
            {% if post.author.is_staff %}
            <div id="post{{ post.id }}" class="card-text ps-4">
                {{ post.content | safe }}
            </div>
            {% else %}
            <div id="post{{ post.id }}" class="card-text ps-4">
                {{ post.content | linebreaks }}
            </div>
            {% endif %}
        </div>
        <!-- post image -->
        {% if "placeholder" in post.featured_image.url %}
        <img src="{% static 'images/posts/cn-btc.jpg' %}" class="card-img-bottom rounded" width="500" height="500"
            alt="Crypto Net BTC">
        {% else %}
        <img src="https://res.cloudinary.com/dpwhdmvce/image/upload/v1737560480/{{ post.featured_image }}.webp"
            class="card-img-bottom rounded" width="500" height="500" alt="{{ post.author }} image">
        {% endif %}
        <div class="d-flex justify-content-evenly">
            <!-- view to comments -->
            <div class="align-self-center">
                <a href="{% url 'post_detail' post.channel.slug post.id %}" class="btn btn-comment"
                    aria-label="View post comments">
                    {{ post.comment_count }} <i class="fa-solid fa-comments"></i></a>
            </div>
            <!-- https://github.com/Code-Institute-Solutions/Django3blog/blob/master/10_likes/blog/views.py -->
            <!-- The number of likes goes before the closing strong tag -->
            <div class="align-self-center">
                <span>{{ post.number_of_likes }} </span>
                {% if user.is_authenticated %}
                {% if post.liked %}
                <span>
                    <i class="fa-solid fa-heart text--red"></i>
                </span>
                {% else %}
                <span>
                    <i class="fa-regular fa-heart"></i>
                </span>
                {% endif %}
                {% else %}
                <span class="text-secondary">
                    <i class="fa-regular fa-heart"></i>
                </span>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% if not forloop.last %}
<hr class="m-0">
{% endif %}
{% endif %}
{% endfor %}
{% endblock content %}

{% block extras %}
{% endblock %}