{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="sticky-top border-bottom border-5 bg-warning">
    <a class="position-absolute text-secondary fs-2 ms-2 text-decoration-none" href="{% url 'home' %}"
        class="btn">&#129092;|</a>
    <a class="text-secondary text-decoration-none" href="{% url 'home' %}">
        <h1 class="text-center pt-2">Crypto Net <i class="fa-solid fa-chart-line"></i></h1>
    </a>
    <div class="d-flex justify-content-around">
        <h2>
            {{ channel.name }}
        </h2>
        <div class="d-flex pt-2">
            <p>Posts</p>
            <div class="ms-2">{{ post_count }}</div>
        </div>
    </div>
</header>
{% for post in posts %}
<article class="d-flex justify-content-center">
    <!-- code from https://getbootstrap.com/docs/5.3/components/card/ -->
    <div class="card m-4" style="width: 60rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ channel.name }}</h5>
            <div class="card-text">{{ post.content | safe }}</div>
            <a href="{% url 'post_detail' post.channel.slug post.id %}" class="btn btn-secondary">View Comments</a>
        </div>
    </div>
</article>
{% endfor %}
{% endblock content %}

<!-- {% block extras %}
<script src="{% static 'js/content.js' %}"></script>
{% endblock %} -->