{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<header class="sticky-top shadow bg--medium">
    <a class="position-absolute text--platinum fs-2 ms-2 text-decoration-none" href="{% url 'home' %}" class="btn">
        <i class="fa-solid fa-circle-arrow-left"></i>
    </a>
    <a class="text--platinum text-decoration-none" href="{% url 'home' %}">
        <h2 class="text-center pt-2 m-0">Crypto Net <i class="fa-solid fa-chart-line"></i></h2>
    </a>
    <div class="d-flex justify-content-around">
        <h3 class="text-light text-uppercase fs-5 m-0">
            {{ channel.name }}
        </h3>
        <div class="d-flex text-light">
            <div class="ms-2">{{ post_count }} Posts</div>
        </div>
    </div>
</header>
{% for post in posts %}
<article class="d-flex justify-content-center">
    <!-- code from https://getbootstrap.com/docs/5.3/components/card/ -->
    <div class="card border-0 m-4" style="width: 60rem;">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h5 class="card-title">@{{ post.author }}</h5>
                <div>{{ post.created_on }}</div>
            </div>
            <a href="{% url 'post_detail' post.channel.slug post.id %}" class="text-decoration-none"></a>
            <div id="post{{ post.id }}" class="card-text">
                {{ post.content | safe | linebreaks }}
            </div>
        </div>
        <img src="{% static 'images/posts/btc-default.jpg' %}" class="card-img-bottom rounded-0" alt="BTC Default">
        <div class="d-flex justify-content-evenly">
            <a href="" class="text-decoration-none">{{ comment_count }} <i class="fa-solid fa-comments"></i></a>
            {% if post.author == user %}
            <button class="btn btn-delete" data-post_id="{{ post.id }}"><i class="fa-solid fa-trash-can"></i></button>
            <button type="button" class="btn-edit" data-post_id="{{ post.id }}" data-bs-toggle="modal"
                data-bs-target="#modal{{ post.id }}">
                <i class="fa-solid fa-pen-to-square"></i>
            </button>
            {% endif %}
        </div>
    </div>
</article>
{% endfor %}

<!-- code from https://getbootstrap.com/docs/5.3/components/modal/ -->
<!-- Button trigger modal -->
<button type="button" class="position-absolute bottom-0 end-0 m-3 btn bg--medium text--platinum btn-lg fs-2 rounded shadow-lg cc--hover"
    data-bs-toggle="modal" data-bs-target="#model{{ channel.id }}">
    <i class="fa-solid fa-pen"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="modal{{ channel.id }}" tabindex="-1" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-capitalize" id="exampleModalLabel">{{ channel.name }} Post</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="postForm" method="POST">
                    {{ post_form | crispy }}
                    {% csrf_token %}
                    <!-- <div>
                        <label for="id_content{{ post.id }}">Content</label>
                        <textarea name="content" id="id_content{{ post.id }}">{{ post.content }}</textarea>
                    </div> -->
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-lg bg--medium shadow text-light cc--hover"
                            data-bs-dismiss="modal">Cancel</button>
                        <button id="submitButton" type="submit"
                            class="btn btn-lg bg--medium shadow text-light cc--hover">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your comment?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extras %}
<script src="{% static 'js/posts.js' %}"></script>
<!-- <script src="{% static 'js/modal.js' %}"></script> -->
{% endblock %}