{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="sticky-top shadow bg--medium">
    <a class="position-absolute text--platinum fs-2 ms-2 text-decoration-none"
        href="{% url 'channel_detail' post.channel.slug %}" class="btn">
        <i class="fa-solid fa-circle-arrow-left"></i>
    </a>
    <a class="text--platinum text-decoration-none" href="{% url 'home' %}">
        <h2 class="text-center pt-2 m-0">Crypto Net <i class="fa-solid fa-chart-line"></i></h2>
    </a>
    <div class="d-flex justify-content-around">
        <h3 class="text-light text-uppercase fs-5 m-0">
            {{ channel.name }}
        </h3>
        <div class="d-flex text-light">
            <div class="ms-2">{{ comment_count }} Comments</div>
        </div>
    </div>
</header>
<article class="d-flex justify-content-center">
    <!-- code from https://getbootstrap.com/docs/5.3/components/card/ -->
    <div class="card m-4" style="width: 60rem;">
        <img src="{% static 'images/posts/btc-default.jpg' %}" class="card-img-top" alt="BTC Default">
        <div class="card-body">
            <h4 class="card-title">@{{ post.author }}</h4>
            <div class="card-text">{{ post.content | safe }}</div>
            <a href="#" class="btn btn-secondary float-end">Add Comment</a>
            <h5>Comments:</h5>
            {% for comment in comments %}
            <fieldset class="mt-4">
                <legend>@{{ comment.author }}</legend>
                <div class="ms-3">{{ comment.comment }}</div>
                <div>{{ comment.created_on }}</div>
            </fieldset>
            {% endfor %}
        </div>
    </div>
</article>
<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{% endblock content %}

{% block extras %}
<script src="{% static 'js/content.js' %}"></script>
{% endblock %}