@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,500&family=Ubuntu:ital,wght@1,400;1,700&display=swap');

/* ----------------------------------------------------------- generic styles */
body {
    font-family: "Ubuntu", serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Kanit", serif;
}

.bg--dark {
    background-color: rgb(53, 53, 53);
}

.bg--medium {
    background-color: rgb(40, 75, 99);
}

.bg--light {
    background-color: rgb(60, 110, 113);
}

.text--platinum {
    color: rgb(217, 217, 217);
}

.p--shadow:hover {
    box-shadow: 0 0 4px 2px rgb(217, 217, 217);
}

.cc--hover:hover {
    background-color: rgb(60, 110, 113);
}

.disabled {
    color: rgb(60, 110, 113) !important;
}

/* ----------------------------------------------------------- fonts */
.kanit {
    font-family: "Kanit", serif;
    font-weight: 500;
    font-style: italic;
}

.ubuntu-regular {
    font-family: "Ubuntu", serif;
    font-weight: 400;
    font-style: italic;
}

.ubuntu-bold {
    font-family: "Ubuntu", serif;
    font-weight: 700;
    font-style: italic;
}

/* ----------------------------------------------------------- navigation menu */
/* sidenav code from w3s */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sidenav_full */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2025;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(217, 217, 217);
    display: block;
    transition: 0.3s;

}

.sidenav p,
.sidenav h1 {
    padding: 8px 8px 8px 32px;
    color: rgb(217, 217, 217);
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: rgb(40, 75, 99);
    text-shadow: 0 0 3px rgb(217, 217, 217);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: -70px;
    font-size: 36px;
    margin-left: 50px;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 2000;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* ----------------------------------------------------------- media queries */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}