<!-- code institue blog was used as a referance and some code was used  -->
<!-- https://github.com/Code-Institute-Solutions/blog/ -->
{% load static %}

{% url 'home' as home_url %}
{% url 'about' as about_url %}
{% url 'contact' as contact_url %}
{% url 'add_channel' as add_channel_url %}
{% url 'profile' as profile_url %}
{% url 'edit_profile' as edit_profile_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
{% url 'channel_detail' channel.slug as channel_detail_url %}
{% url 'post_detail' post.channel.slug post.id as post_detail_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- meta tags for search engines -->
    <meta name="description" content="Crypto Net, Crypto Social Platform">
    <meta name="keywords" content="crypto net, crypto, network, social, currency, currencies, bitcoin, ethereum">
    <!-- Google Fonts CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,500&family=Ubuntu:ital,wght@1,400;1,700&display=swap"
        rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Crypto Net</title>
</head>

<body>
    <!-- side navigational menu -->
    <!-- code from w3s https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sidenav_full -->
    <nav id="the-sidenav" class="sidenav bg--medium">
        <section>
            <a id="sidenav-close" href="javascript:void(0)" class="closebtn" aria-label="Close sidenav">
                <i class="fa-solid fa-circle-arrow-left"></i>
            </a>
            <h2 class="text-center text-decoration-underline pt-2">Crypto Net <i class="fa-solid fa-chart-line"></i>
            </h2>
            {% if user.is_authenticated %}
            <a class="list-group-item mt-4 {% if request.path == profile_url %}disabled" aria-current="page{% endif %}"
                href="{% url 'profile' %}">Account</a>
            {% endif %}
            <a class="list-group-item {% if request.path == about_url %}disabled" aria-current="page{% endif %}"
                href="{% url 'about' %}">About</a>
            <a class="list-group-item {% if request.path == contact_url %}disabled" aria-current="page{% endif %}"
                href="{% url 'contact' %}">Contact</a>
            {% if user.is_authenticated %}
            <a class="list-group-item {% if request.path == add_channel_url %}disabled" aria-current="page{% endif %}"
                href="{% url 'add_channel' %}">Add Channel</a>
            <a class="list-group-item {% if request.path == logout_url %}disabled" aria-current="page{% endif %}"
                href="{% url 'account_logout' %}">Logout</a>
            {% else %}
            <a class="list-group-item {% if request.path == signup_url %}disabled" aria-current="page{% endif %}"
                href="{% url 'account_signup' %}">Register</a>
            <a class="list-group-item {% if request.path == login_url %}disabled" aria-current="page{% endif %}"
                href="{% url 'account_login' %}">Login</a>
            {% endif %}
        </section>
        <!-- social links code used from code institute love running project -->
        <ul class="list-unstyled d-flex justify-content-evenly mt-5">
            <li>
                <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                    aria-label="visit our facebook page (opens in a new tab)">
                    <i class="fa-brands fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="https://www.x.com/" target="_blank" rel="noopener"
                    aria-label="visit our x page (opens in a new tab)">
                    <i class="fa-brands fa-square-x-twitter"></i>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank" rel="noopener"
                    aria-label="visit our youtube page (opens in a new tab)">
                    <i class="fa-brands fa-square-youtube"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank" rel="noopener"
                    aria-label="visit our instagram page (opens in a new tab)">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </li>
        </ul>
        <div>
            <p>Copyright &copy; <span class="copyright-date"></span> Crypto Net</p>
            <p>V 0.0.1</p>
        </div>
    </nav>
    <!-- hidden header -->
    <header class="d-none">
        <h1>Crypto Net</h1>
    </header>
    <!-- main -->
    <main class="d-flex flex-row vh-100">
        <!-- left aside section -->
        <aside id="channel-list"
            class="d-flex flex-column col-12 col-sm-4 bg--dark shadow container-fluid overflow-y-auto p-0">
            <!-- aside header -->
            <header class="sticky-top bg--dark text-light p-2">
                <div class="d-flex justify-content-between">
                    <h2 id="side-header" class="fs-4 mt-2">Crypto Net <i class="fa-solid fa-chart-line"></i></h2>
                    <!-- side navigational button -->
                    <button id="sidenav-open" class="btn bg--light text-light p--shadow fs-4 m-2" aria-label="Open sidenav">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                </div>
                <!-- user logged in message -->
                {% if user.is_authenticated %}
                <p class="mt-3">You are logged in as @{{ user }}</p>
                {% else %}
                <p class="mt-3">You are not logged in</p>
                {% endif %}
                <!-- channel list header -->
                {% if channel_list %}
                <h2 class="mt-4">Channels</h2>
                {% endif %}
            </header>
            <!-- channel list -->
            <ul class="list-unstyled p-2 flex-grow-1">
                {% if channel_list %}
                {% for channel in channel_list %}
                <li class="overflow-y-hidden p-2">
                    <a href="{% url 'channel_detail' channel.slug %}"
                        class="channel container-fluid btn text-light bg--light p--shadow"
                        aria-label="Go to {{ channel.name }} channel">
                        <h3 class="m-0">{{ channel.name | capfirst }}</h3>
                    </a>
                </li>
                {% endfor %}
                {% endif %}
            </ul>
            <footer class="text-center text-light">
                <p>Copyright &copy; <span class="copyright-date"></span> Crypto Net</p>
                <p>V 0.0.1</p>
            </footer>
        </aside>
        <!-- right article section -->
        <!-- added background color for landscape view with color backgrounds -->
        <article id="channel-content"
            class="{% if request.path == contact_url or request.path == profile_url or request.path == edit_profile_url %}bg-dark{% endif %} d-none d-sm-block col-sm-8 p-0 overflow-y-auto">
            <!-- article header -->
            <header class="sticky-top shadow bg--medium">
                {% if request.path == post_detail_url %}
                <a class="btn position-absolute text--platinum fs-2" href="{% url 'channel_detail' post.channel.slug %}"
                    aria-label="Go back to channel">
                    <i class="fa-solid fa-circle-arrow-left"></i>
                </a>
                {% elif request.path == edit_profile_url %}
                <a class="btn position-absolute text--platinum fs-2" href="{% url 'profile' %}"
                    aria-label="Go back to profile"><i class="fa-solid fa-circle-arrow-left"></i></a>
                {% else %}
                <a class="btn position-absolute text--platinum fs-2" href="{% url 'home' %}"
                    aria-label="Go back to home">
                    <i class="fa-solid fa-circle-arrow-left"></i>
                </a>
                {% endif %}
                <a class="text--platinum" href="{% url 'home' %}" aria-label="Go back to home">
                    <h2 class="text-center p-2 m-0">Crypto Net <i class="fa-solid fa-chart-line"></i></h2>
                </a>
                <div class="d-flex justify-content-around">
                    {% if channel.name %}
                    <h3 class="text-light fs-5 m-0">
                        {{ channel.name | capfirst }}
                    </h3>
                    {% endif %}
                    <div class="d-flex text-light">
                        {% if request.path == channel_detail_url %}
                        <div>{{ post_count }} Posts</div>
                        {% elif request.path == post_detail_url %}
                        <div>{{ comment_count }}<i class="fa-solid fa-comments ms-2"></i></div>
                        {% endif %}
                    </div>
                </div>
            </header>
            <!-- displaying Django messages -->
            <div class="container position-absolute mt-1 start-50 translate-middle z--3000">
                <div>
                    <div>
                        {% for message in messages %}
                        <div class="alert {{ message.tags }} alert-dismissible
          fade show" id="msg" role="alert">
                            {{ message | safe }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                                aria-label="Close message"></button>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% block content %}
            <!-- content goes here -->
            {% endblock content %}
        </article>
    </main>
    <!-- the delete modal -->
    <section id="delete-modal" class="the-modal p-2">
        <!-- Modal content -->
        <div class="modal-content rounded">
            <header class="modal-header">
                {% if post_count %}
                <h5 id="delete-modal-label">Delete post?</h5>
                {% else %}
                <h5 id="delete-modal-label">Delete comment?</h5>
                {% endif %}
                <button type="button" class="modal--close btn-close fs-3 position-absolute top-0 end-0 p-3"
                    aria-label="Close"></button>
            </header>
            <hr>
            <!-- delete modal body -->
            {% if post_count %}
            <p id="modal-body">
                Are you sure you want to delete your comment?
                This action cannot be undone.</p>
            {% else %}
            <p id="modal-body">
                Are you sure you want to delete your comment?
                This action cannot be undone.</p>
            {% endif %}
            <hr>
            <div class="d-flex justify-content-end">
                <!-- cancel delete button -->
                <button type="button" class="modal--close btn bg--medium text-light cc--hover me-4"
                    aria-label="Cancel">Cancel</button>
                <!-- confirm delete button -->
                <a id="delete-model-confirm" href="#" class="btn
          btn-danger" aria-label="Confirm delete">Delete</a>
            </div>
        </div>
    </section>
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <!-- font awesome kit -->
    <script src="https://kit.fontawesome.com/73c0fc54c9.js" crossorigin="anonymous"></script>
    <!-- scripts -->
    <script src="{% static 'js/script.js' %}"></script>
    {% if request.path != home_url %}
    <script src="{% static 'js/content.js' %}"></script>
    {% endif %}
    {% block extras %}
    {% endblock %}
</body>

</html>