{% load static %}

{% url 'home' as home_url %}
{% url 'about' as about_url %}
{% url 'contact' as contact_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Net</title>

    <!-- Google Fonts CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,500&family=Ubuntu:ital,wght@1,400;1,700&display=swap"
        rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- code from w3s https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sidenav_full -->
    <nav id="mySidenav" class="sidenav bg--medium">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i
                class="fa-solid fa-circle-arrow-left"></i></a>
        <h1 class="text-center text-decoration-underline pt-2">Crypto Net <i class="fa-solid fa-chart-line"></i></h1>
        <a class="list-group-item {% if request.path == about_url %}disabled" aria-current="page{% endif %}"
            href="{% url 'about' %}" class="mt-5">About</a>
        <a class="list-group-item {% if request.path == contact_url %}disabled" aria-current="page{% endif %}"
            href="{% url 'contact' %}">Contact</a>
        {% if user.is_authenticated %}
        <a class="list-group-item {% if request.path == logout_url %}disabled" aria-current="page{% endif %}"
            href="{% url 'account_logout' %}">Logout</a>
        {% else %}
        <a class="list-group-item {% if request.path == signup_url %}disabled" aria-current="page{% endif %}"
            href="{% url 'account_signup' %}">Register</a>
        <a class="list-group-item {% if request.path == login_url %}disabled" aria-current="page{% endif %}"
            href="{% url 'account_login' %}">Login</a>
        {% endif %}
        <!-- social links code used from code institute love running project -->
        <div class="d-flex justify-content-center mt-5">
            <ul class="list-unstyled d-flex justify-content-evenly" style="width: 30rem;">
                <li>
                    <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                        aria-label="visit our facebook page (opens in a new tab)">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.x.com/" target="_blank" rel="noopener"
                        aria-label="visit our x page (opens in a new tab)">
                        <i class="fa-brands fa-square-x-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/" target="_blank" rel="noopener"
                        aria-label="visit our youtube page (opens in a new tab)">
                        <i class="fa-brands fa-square-youtube"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener"
                        aria-label="visit our instagram page (opens in a new tab)">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <p>Copyright &copy; <span id="copyright-date"></span> Crypto Net</p>
            <p>V 0.0.1</p>
        </div>
    </nav>
    <main class="d-flex flex-row vh-100">
        <!-- left section -->
        <section id="channel-list" class="col-12 col-sm-4 bg--dark shadow container-fluid overflow-y-auto p-0">
            <header class="sticky-top bg--dark text-light p-2">
                <div class="d-flex justify-content-between">
                    <h2 id="side-header" class="fs-4 mt-2">Crypto Net <i class="fa-solid fa-chart-line"></i></h2>
                    <span id="menu-button" class="btn bg--light text-light p--shadow fs-3 mt-2 me-2"
                        style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
                </div>
                {% if user.is_authenticated %}
                <p class="mt-3">You are logged in as {{ user }}</p>
                {% else %}
                <p class="mt-3">You are not logged in</p>
                {% endif %}
                <h2 class="mt-4">Channels</h2>
            </header>
            <main>
                <ul class="list-unstyled p-2">
                    {% for channel in channel_list %}
                    <li class="overflow-y-hidden p-2">
                        <a href="{% url 'channel_detail' channel.slug %}"
                            class="channel container-fluid btn text-light bg--light p--shadow text-capitalize">
                            <h2 class="m-0">{{ channel.name }}</h2>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </main>
            <footer class="text-center text-light">
                <p>Copyright &copy; <span id="copyright-date"></span> Crypto Net</p>
                <p>V 0.0.1</p>
            </footer>
        </section>
        <!-- right section -->
        <section id="channel-content" class="d-none d-sm-block col-sm-8 p-0 overflow-y-auto">
            {% block content %}
            <!-- Content Goes here -->
            {% endblock content %}
        </section>
    </main>
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <!-- font awesome kit -->
    <script src="https://kit.fontawesome.com/73c0fc54c9.js" crossorigin="anonymous"></script>

    <script src="{% static 'js/sidenav.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    {% if request.path != home_url %}
    <script src="{% static 'js/content.js' %}"></script>
    {% endif %}
    {% block extras %}
    {% endblock %}
</body>

</html>