{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- about -->
<section class="bg-dark d-flex flex-column flex-grow-1">
    <div class="d-flex justify-content-center m-3 pb-5">
        <div class="card bg-dark border-2 border-secondary plat--shadow mt-5">
            {% if not "placeholder" in about.hero_image.url %}
            <img src="https://res.cloudinary.com/dpwhdmvce/image/upload/v1737560480/{{ about.hero_image }}.webp"
                class="card-img-top" width="600px" height="600px" alt="{{ about.title }}">
            {% endif %}
            <div class="card-body text-light">
                <h4 class="card-title text--platinum fs-3">{{ about.title }}</h4>
                <hr>
                <div class="card-text fs-4">{{ about.content | safe }}</div>
                <div class="text-end m-3">Updated on: {{ about.updated_on | date:"d/m/Y" }}</div>
                <a href="{% url 'contact' %}" class="btn btn-lg bg--light text-light p--shadow float-end"
                    aria-label="Get in touch">Get in touch</a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block extras %}
{% endblock %}