{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<!-- contact -->
<section class="bg-dark vh-100">
    <h4 class="text--platinum ps-3 pt-4">Contact</h4>
    <p class="text-light ms-3 mt-2">For any issues or inquiries, please get in touch</p>
    <!-- Contact form -->
    <div class="d-flex justify-content-center mt-5 pb-5">
        <form method="POST" class="col-8 text-light">
            {{ contact_form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-lg bg--light text-light p--shadow float-end">Submit</button>
        </form>
    </div>
</section>
{% endblock content %}
{% block extras %}
{% endblock %}